.container-one{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.container-two{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.no-players{
    margin-top: 15%;
}