 body {
     height: 100%;
     padding: 0%;
     margin: 0%;
 }

 button:focus {
     outline: none!important;
     box-shadow: none!important;
 }

 input:focus, textarea:focus {
     outline: none !important;
 }

 tr {
     height: 60px;
     text-align: start !important;
 }

 th {
     height: 10px;
 }

 td {
     width: 100px;
 }

 tr td th {
     height: auto !important;
 }

 a:link {
     text-decoration: none;
 }

 a:visited {
     text-decoration: none;
 }

 a:hover {
     text-decoration: underline;
 }

 a:active {
     text-decoration: underline;
 }