.login-container {
    background-image: radial-gradient( rgba(106, 32, 152, 0.22) 62%, #563086a3 86%),
    url(/static/media/bg2.4677bfa4.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
}

.form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 25%;
    height: 25%;
}

.paper-background{
    background-color: rgb(245, 246, 252)!important;
}

.login-label{
    color: white!important;
    background-color: #6e2db5!important;
    border-radius: 2px 2px 0px 0px;
}

.username-label, .password-label{
    color: black!important;
}